.header {
    display: grid;
    height: 293px;
    padding: 92px 50px 96px;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    
}

.header-menu {
    display: flex;
    gap: 32px; 
    min-width: 392px;
    list-style-type: circle;
    font-weight: 400;
    font-size: 18px;
}

.header-menu-first-element {
    list-style: none;
}

.logo {
  width: 148px;
  align-self: center;

}

.address {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
    justify-self: end;
}
.cover {
    display: flex;
    box-sizing: border-box;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: white;
}

.main-name {
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30%;
}

.main-name-first {
    margin-left: 50px;
    margin-top: 165px;
}

.main-name-second {
    margin-left: 44.5px;
    margin-top: 300px;
}

.main-name-third {
    margin-left: 20px;
    margin-top: 435px;
}

.opacity {
    background-color: rgb(0 0 0/0.6);
    object-fit: cover;
}

.description {
    display: flex;
    gap: 107px;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 118px;
    
}
.bottom {
    border: 10px solid red; /* сплошная граница в 1 пиксель красного цвета */
    right: 0px;
}
/*.popup {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0/0.8);
  display: flex;
}*/ 

.lots {
    margin: 180px 24px 120px;
}

.lots-blocks {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 596px;
    gap: 25px;
    margin-bottom: 30px;
}

.lots-block-first {
    display: grid;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.lots-block-second {
    display: grid;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.lots-block-third {
    display: grid;
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.lot-link {
    grid-row: 1/2;
    grid-column: 1/2;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    
}

.lot-text {
    grid-row: 2/3;
    grid-column: 1/2;
    font-weight: 400;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.about-logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.about-title {
  grid-column: 2/3;
  grid-row: 1/2;
}

.about-text {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer {
    display: flex;
    height: 180px;
    margin-top: 180px;
    padding: 0 50px;
    justify-content: space-between;
}