.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__menu {
    display: flex;
    gap: 33px;   
    font-size: 18px;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 135px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: right;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    max-width: 240px;
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    box-sizing: border-box;
    min-height: 757px;
    padding: 165px 50px 0px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.cover__title {
    display: grid;
    position: relative;
    z-index: 1;
    row-gap: 17px;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text_left { 
    align-self: start;
}

.aligned-text_center {
    align-items: center;
    justify-self: center;
    margin-left: 30px;
}

.aligned-text_right {
    align-items: end;
    justify-self: end;
    margin-right: -30px;
}

.cover__description {
    display: flex;
    position: relative;
    align-items: center;
    gap: 105px;
    font-size: 23px;
    margin-top: 104px;
    word-spacing: 15px;
    text-transform: uppercase;
    white-space: nowrap;
}

.bet-button {
    padding: 12px 32px 11px 31px;
    font-size: 22px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: rgba(0,0,0,0); 
}

.lots__heading {
    font-size: 40px;
    margin: 180px auto 27px 40px;
    text-transform: uppercase;
}

.lots {
    margin: 180px 24px 155px;
}

.lots__card-list {
    display: grid;
    gap: 25px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 596px;
    margin-bottom: 30px;
    list-style-type: none;
}

.card {
    display: grid;
    position: relative;
    grid-template-rows:  min-content 1fr min-content;
    width: 334px;
    min-height: 596px;
    padding: 48px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: white;
}

.card_type_film {  
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__link {
    height: 100%;
    text-decoration: none;
}

.card__title {
    position: relative;
    z-index: 1;
    height: 100%;
    grid-row: 1/2;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-align: left;
    text-underline-offset: 4px;
}

.card__text {
    position: relative;
    z-index: 1;
    height: 100%;
    grid-row: -1/-2;
    font-size: 20px;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    margin: 0px 24px 180px;
    grid-template-columns: 334px 1fr;
    grid-template-rows: min-content 1fr;
    gap: 5px 25px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47px;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    width: 141px;
    height: 112px;
}

.about__title {
    display: flex;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    text-justify: start;
    text-align: start;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 20px;
    gap: 24px;
}

.footer {
    display: grid;
    margin-top: 180px;
    min-height: 180px; 
    padding: 0px 50px;
    grid-template-columns: repeat(3, 1fr);
}

.footer__address {
    justify-self: start;
}

.footer__menu-list {
    justify-self: center;
    text-align: center;
    list-style-type: none;
    text-underline-offset: 4px;
    font-size: 18px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-self: end;
    list-style-type: none;
    margin-right: 0px;
    gap: 48px;
}

.footer__social-list-item {
    height: 48px;
    width: 48px;
}
